@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Bebas Neue', cursive;
  --black-color-dark: #3c3c3c;
  --black-color-gray-dark: #3e3e3e;
  --blue-color: #363958;
  --main-color: #ff8367;
  --white-color: #ffffff;
}

/* BASIC STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3 {
  font-family: var(--title-font);
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

/* COMMON CSS STYLE */
.container {
  width: 1170px;
  margin: 0 auto;
}

.main__color {
  color: var(--main-color);
}

/* HEADER STYLES */
.navbar {
  padding: 10px 0;
}

.navbar ul {
  display: flex;
  justify-content: end;
}

.navbar ul li {
  display: inline-block;
  padding: 10px 15px;
}

.navbar ul li a {
  color: var(--black-color-dark);
}

/* ABOUT TITLE */
.about__title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.about__title .text h1 {
  font-size: 80px;
  color: var(--blue-color);
}

.about__title .text h1 span {
  display: block;
}

.about__title .text p {
  color: var(--black-color-gray-dark);
  margin-top: 10px;
  margin-bottom: 30px;
}

.about__title .text button {
  color: var(--white-color);
  background-image: linear-gradient(180deg, #ff8063, #f46060);
}
